@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    background: #E3E6F3;
    font-family:'Spartan',sans-serif;
  }
  
  .signup-box {
    width: 360px;
    height: 620px;
    margin: auto;
    background-color: white;
    border-radius: 30px;
  }
  
  .login-box {
    width: 360px;
    height: 280px;
    margin: auto;
    border-radius: 30px;
    background-color: white;
  }
  
  h1 {
    text-align: center;
    padding-top: 15px;
  }
  
  h4 {
    text-align: center;
  }
  
  form {
    width: 300px;
    margin-left: 20px;
  }
  
  form label {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
    font-family:'Spartan',sans-serif;
  }
  
  form input {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
  }
  .form-submit {
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #49c1a2;
    color: white;
    font-size: 18px;
    font-family:'Spartan',sans-serif;
  }
  p {
    text-align: center;
    padding-top: 20px;
    font-size: 15px;font-family:'Spartan',sans-serif;
  }
  .para-2 {
    text-align: center;
    color: black;
    font-size: 15px;
    margin-top: -10px;
    font-family:'Spartan',sans-serif;
  }
  .para-2 a {
    color: #49c1a2;
  }
  
  