{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Admin Login</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="login-box">
      <h1>Admin Login</h1>
      <form action="admin_login" method="post">
        {% csrf_token %} 
        <label>Username</label>
        <input type="text" name="Username" placeholder="Enter Username" />
        <label>Password</label>
        <input type="password" name="Password" placeholder="Enter Password  " />
        <input class="form-submit" type="Submit" value="Submit" />
      </form>
    </div>
  </body>
</html>

