<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <ul>
        <li><a href="home">Home</a></li>
        <li><a href="login">Login</a></li>
        <li><a href="register">Register</a></li>

        <form action="register" method="post">
            {% csrf_token %} 

            <input type="text" name="Username" placeholder="First Name"><br>
            <input type="email" name="Email" placeholder="Email"><br>
            <input type="password" name="Password" placeholder="Password"><br>
            <input type="password" name="Password1" placeholder="Confirm Password"><br>
            <input type="Submit">
        </form>
    </ul>
</body>
</html>